#root {
  padding-left: 1.5em;
  padding-right: 2em;
}

#topBar {
  height: auto;
  overflow-x: hidden;
  color: #c9c9c9;
  font-weight: bold;
  margin-bottom: 2em;
}

#main {
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 15vh;
  margin-bottom: 5vh;
  height: auto;
}

#sendBtn {
  float: right;
  height: 2em;
  margin-right: 1em;
  width: 10em;
  font-size: 1.3em;
  font-weight: 700;
}

#url-container {
  overflow-x: hidden;
  overflow-y: auto;
}

.jumbotron {
  text-align: center;
  height: 15vh;
  padding-top: 2.5em;
}

.btn-remove {
  margin-left: 5em;
}

.title {
  font-size: 2em;
}

.add-url {
  margin-left: 3em;
  margin-bottom: 1em;
}

.error-label {
  color: red;
  font-weight: 600;
}

.url {
  text-decoration: underline;
}

.url-list {
  padding-left: 0;
}

.url-list > li {
  list-style-image: none;
  list-style: none;
}

.url-container {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 25vh;
  max-height: 25vh;
}

.send-btn {
  float: right;
  width: 10em;
}

.righty {
  float: right;
}
